.header{
    display: flex;
    flex-direction: row; 
    width:100%;
    background-color: gray;
    align-items: center;
    justify-content: center;
    color:white;
    height:60px;
}

.header a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}
